<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
    <div class="wrapper wrapper--w780">
        <div class="card card-3">
            <div class="card-heading"></div>
            
            <div class="card-body">
                <h2 class="title">Resetpassword</h2>
                <form action="/FPOT" method="post">
                 
                    <div class="input-group">
                        <input class="input--style-3" type="password" placeholder="New Password" name="old">
                    </div>
                    
                    <div class="input-group">
                        <input class="input--style-3" type="password" placeholder="Password" name="newP">
                    </div>
                    
                    <div class="p-t-10">
                        <button class="btn btn--pill btn--green" type="submit">Submit</button>
                    </div>
                    <br>
                   
                </form>
            </div>
        </div>
    </div>
</div>
    
</body>
</html>